<div class="footer">
  <div class="links">
    <a href="#">
      <i class="fab fa-fw fa-twitter"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-github"></i>
    </a>
    <a href="#">
      <i class="fab fa-fw fa-facebook-f"></i>
    </a>
    <p>Pingis</p>
  </div>
</div>
