
<!-- Banner -->
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1558433916-90a36b44753f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80);">
    <h1 class="mt-3 pt-3 d-flex justify-content-center">Let's play!</h1>
    <div class="d-flex justify-content-center">
      <input type="text">
      <%= link_to "Search", tables_path, class: "btn-flat mr-2 align-items-center"  %>
    </div>
  </div>
