<!-- Booking Card -->
<div class="container w-100">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3 p-0">
      <div class="card-booking mt-3 p-0 d-flex justify-content-between align-items-center text-left">

        <div class="card-player d-flex justify-content-start p-3">
          <div>
            <img id="avatar-bordered" alt="avatar-bordered" src="https://kitt.lewagon.com/placeholder/users/sarahlafer" />
          </div>
          <div class="pl-3">
            <h3>Username</h3>
            <div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
              <div class="clip-star"></div>
            </div>
            <p><em>" The smasher "</em></p>
          </div>
        </div>

        <div>
          <ul class="p-0">
            <li>Games won: 10/12</li>
            <li>Right handed</li>
          </ul>
          <div class="buttons d-flex justify-content-between align-items-center">
            <a class="btn-green mb-2" href="#">Accept</a>
            <a class="btn-red mb-2" href="#">Decline</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
